<!DOCTYPE html>
<html>
<head>
    <title>Artist Info</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<header><a href="/home"><img class="home" src="../static/h2.png"></a><div class="hd">Artists Tracker</div></header>

<body>
    <form action="/home" method="GET">
        <input class="search" type="text" placeholder="Search..." name="name" list="List">
        <datalist id="List">
          
          {{range .Search_Suggestion}}
            <option value="{{.Name}} (artist/band)"></option>

            {{range .Members}}
            <option value="{{.}} (member)"></option>
            {{end}}

            {{range .Locations_unpacked}}
            <option value="{{.}}"></option>
            {{end}}
            
            <option value="{{.CreationDate}} ({{.Name}}) - Creation year"></option>
            
          {{end}}
        </datalist>
        <button type="submit">Search</button>
      </form>
          
    <div class="content">
    <ul>
        {{range .ExportData}}
         
            <li class="card">
                
                <div class="cardtext">
                <img class="picture" src="{{.Image}}">
                <div class="up">       
                <p><b>Name:</b> {{.Name}}</p>
                </div>
                <p><b>Members: </b> {{range $index, $element := .Members}}{{if $index}}, {{end}}{{.}}{{end}}.</p>
                </div>
                <div class="kla">            
                <p><b>Creation year:</b> {{.CreationDate}}</p>
                <p><b>First album:</b> {{.FirstAlbum}}</p>             
                <div class="overlay">
                <p><a href="/dates?name={{.Id}}">Tour Dates</a></p> 
                <p><a href="/locations?name={{.Id}}">Tour Locations</a></p>
                <p><a href="/artists?name={{.Id}}">Full information</a></p>
                </div>
                </div>  
            </li>
        {{end}}
    </ul>
</div>
<a href="/home">
  <button><b>RETURN</b></button> 
  </a>
</div>
</body>
</html>
